.progress {
  --progress: 0%;
  width: 500px;
  height: 50px;
  margin: 9em auto;
  border: 2px solid #2299dd;
  border-radius: 10px;
  padding: 10px;
}

.progress .bar {
  width: var(--progress);
  border-radius: 10px;
  height: 100%;
  background: #2299dd;
  background-repeat: repeat;
  transition: width 3s ease 1s;
}
